* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button:active {
  outline: none;
  border: none;
}

.annual-offer .annual-header {
  width: 532px;
  height: 116px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
}

.annual-offer .annual-header .annual-header__img {
  width: 78px;
  height: 85px;
  background: transparent url(../img/annual.svg) 0 0 no-repeat padding-box;
}

.annual-offer .annual-header .annual-plan {
  display: flex;
  flex-direction: column;
}

.annual-offer .annual-header .annual-plan .annual-plan__title {
  font-family: OpenSans-Bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #646464;
}

.annual-offer .annual-header .annual-plan .annual-plan__price {
  letter-spacing: 0.36px;
  color: #3D8F85;
  opacity: 1;
  font-family: Montserrat-Bold;
  font-size: 18px;
}

.annual-offer .annual-header .annual-plan .annual-plan__text {
  letter-spacing: 0;
  color: #585858;
  opacity: 0.8;
  font-family: OpenSans-Regular;
  font-size: 10px;
  width: 168px;
}

.annual-offer .annual-header .annual-plan__button {
  width: 127px;
  height: 40px;
  border: 2px solid;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3D8F85;
  background-color: #ffffff;
}

.annual-offer .annual-header .annual-plan__button:hover {
  background-color: #3D8F85;
  color: #ffffff;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.annual-offer .annual-offer__img {
  width: 467px;
  height: 30px;
  margin: 25px 0;
  background: transparent url(../img/cards.svg) 0 0 no-repeat padding-box;
}

.annual-offer form {
  width: 570px;
}

.annual-offer form .annual-card {
  position: relative;
}

.annual-offer form .annual-card .card__success-img {
  width: 20px;
  height: 20px;
  left: 230px;
  position: absolute;
  top: 26px;
  visibility: hidden;
}

.annual-offer form .annual-card .card__deny-img {
  width: 20px;
  height: 20px;
  left: 230px;
  position: absolute;
  top: 30px;
  visibility: hidden;
}

.annual-offer form #last-name {
  position: relative;
}

.annual-offer form #last-name .last-name__success-img {
  width: 20px;
  height: 20px;
  left: 263px;
  position: absolute;
  top: 26px;
  visibility: hidden;
}

.annual-offer form #last-name input:required:valid {
  border: 1px solid #2F7E74;
}

.annual-offer form #first-name {
  position: relative;
}

.annual-offer form #first-name .first-name__success-img {
  width: 20px;
  height: 20px;
  left: 263px;
  position: absolute;
  top: 26px;
  visibility: hidden;
}

.annual-offer form #first-name .annual-offer__img-success {
  width: 24px;
  height: 24px;
  background: transparent url("../img/checkSuccess.svg") 0 0 no-repeat padding-box;
  opacity: 1;
  display: none;
}

.annual-offer form #first-name .annual-offer__img-deny {
  width: 24px;
  height: 24px;
  background: transparent url("../img/checkDeny.svg") 0 0 no-repeat padding-box;
  opacity: 1;
  display: none;
}

.annual-offer form ::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #B6B6B6;
  opacity: 1;
  font-family: OpenSans-Regular;
}

.annual-offer form #card-input {
  display: flex;
  flex-direction: column;
  width: 219px;
  height: 39px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
  opacity: 1;
  padding: 9px;
  letter-spacing: 0.3px;
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 15px;
}

.annual-offer form .annual-month {
  position: relative;
}

.annual-offer form .annual-month .month__success-img {
  left: 140px;
  top: 25px;
  width: 20px;
  height: 20px;
  position: absolute;
  visibility: hidden;
}

.annual-offer form .annual-month #month {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 39px;
  background: url(../img/arrow.png) no-repeat !important;
  background-size: 40px;
  -webkit-appearance: none;
  background-position: 85% 50% !important;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
  opacity: 1;
  padding: 9px;
  letter-spacing: 0.3px;
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 15px;
}

.annual-offer form .annual-years {
  position: relative;
}

.annual-offer form .annual-years .years__success-img {
  left: 110px;
  top: 25px;
  width: 20px;
  height: 20px;
  position: absolute;
  visibility: hidden;
}

.annual-offer form .annual-years #years {
  display: flex;
  flex-direction: column;
  width: 99px;
  height: 39px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
  opacity: 1;
  padding: 9px;
  letter-spacing: 0.3px;
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 15px;
  background: url(../img/arrow.png) no-repeat !important;
  background-position: 85% 50% !important;
  background-size: 40px;
  -webkit-appearance: none;
}

.annual-offer form #author {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 39px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
  opacity: 1;
  padding: 9px;
  letter-spacing: 0.3px;
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 15px;
}

.annual-offer form #surname {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 39px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
  opacity: 1;
  padding: 9px;
  letter-spacing: 0.3px;
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 15px;
}

.annual-offer form label {
  letter-spacing: 0;
  color: #333333;
  font-family: OpenSans-Regular;
  font-size: 10px;
}

.annual-offer form .wrapper-card, .annual-offer form .wrapper-name {
  display: flex;
  justify-content: space-between;
}

.annual-offer form .wrapper-card {
  margin-bottom: 30px;
}

.annual-offer .secure {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.annual-offer .secure .secure__button {
  width: 127px;
  height: 40px;
  background: #E24C2C 0 0 no-repeat padding-box;
  border-radius: 7px;
  color: #FFFFFF;
  font-family: Montserrat-Bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.annual-offer .secure .secure__img {
  width: 9px;
  height: 13px;
  background: transparent url(../img/safe.svg) 0 0 no-repeat padding-box;
  margin: 0 10px;
}

.annual-offer .secure .secure__text {
  letter-spacing: 0;
  color: #B6B6B6;
  font-family: OpenSans-Regular;
  font-size: 11px;
}

.annual-offer .form__rules {
  letter-spacing: 0;
  color: #585858;
  font-family: OpenSans-Regular;
  font-size: 10px;
}

.annual-offer .success-border {
  border: 1px solid #2F7E74 !important;
}

.annual-offer .deny-border {
  border: 1px solid #E24C2C !important;
}

.carousel {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.6s ease-in-out;
  width: 100%;
}

.carousel-active:checked + .carousel-item {
  opacity: 1;
  pointer-events: auto;
  position: static;
}

.carousel-item img {
  display: block;
  height: auto;
  width: 100%;
}

.carousel-controls {
  height: 100%;
  width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 28px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  transition: background 0.1s ease-in-out;
  width: 50%;
  z-index: 2;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
  float: left;
}

.carousel-control.next {
  float: right;
}

.carousel-caption {
  bottom: 15%;
  font-size: 120%;
  left: 20%;
  opacity: 0;
  right: 20%;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s ease-out;
  z-index: 2;
}

.carousel-active:checked + .carousel-item .carousel-caption {
  transition: opacity 0.6s ease-in;
  opacity: 1;
}

.carousel-indicators {
  bottom: 5%;
  left: 5%;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 5%;
  text-align: center;
  z-index: 2;
}

.carousel-indicators li {
  display: inline-block;
}

.carousel-indicator {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-size: 28px;
  line-height: 1;
  padding: 5px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in-out;
}

.carousel-indicator:hover {
  background: rgba(0, 0, 0, 0.8);
}

#carousel-1:checked ~ .carousel-indicators .carousel-indicator[for="carousel-1"],
#carousel-2:checked ~ .carousel-indicators .carousel-indicator[for="carousel-2"],
#carousel-3:checked ~ .carousel-indicators .carousel-indicator[for="carousel-3"] {
  color: #007f7f;
}

@media (min-width: 768px) {
  .carousel-indicators {
    background: transparent;
  }
  .carousel-control {
    width: 5%;
  }
  .carousel-controls,
  .carousel-caption,
  .carousel-indicators {
    position: absolute;
    display: flex;
    justify-content: center;
  }
}

#first-name input:required:valid {
  border: 1px solid #2F7E74;
}

#years select:valid {
  border: 1px solid #2F7E74;
}

.min-length {
  visibility: hidden;
  position: absolute;
  letter-spacing: 0;
  color: #E24C2C;
  font-family: OpenSans-Regular;
  font-size: 10px;
}

.card__success {
  width: 24px;
  height: 24px;
  background: transparent url(../img/checkSuccess.svg) 0 0 no-repeat padding-box;
}

.row-input {
  display: flex;
  flex-direction: row;
}

.trial-plan__button {
  width: 127px;
  height: 40px;
  border: 2px solid #3D8F85;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3D8F85;
  background-color: #ffffff;
}

.trial-plan__button:hover {
  background-color: #3D8F85;
  color: #ffffff;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.annual-plan__price span {
  font-size: 10px;
  color: #333333;
  margin-right: 7px;
  font-family: OpenSans-Regular;
}

.trial-header__img {
  width: 83px;
  height: 94px;
  background: transparent url(../img/trial.svg) 0 0 no-repeat padding-box;
}

.trial-header {
  width: 533px;
  height: 41px;
  background-color: #3D8F85;
  border-radius: 7px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.trial-header .trial-header__title {
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.trial-header ul {
  display: flex;
}

.trial-header ul li {
  color: #ffffff;
}

.trial-header .trial-header__time {
  opacity: 0.7;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: 1124px;
  margin: 0 auto;
}

header {
  height: 85px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #0000001A;
  display: flex;
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .header .header__logo {
  width: 132px;
  height: 25px;
  background: transparent url(../img/header_logo.svg) 0 0 no-repeat padding-box;
  cursor: pointer;
}

header .header .header__details {
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat-Bold";
  letter-spacing: 0;
}

header .header .header__details a {
  color: #3D8F85;
}

.main {
  display: flex;
  flex-direction: column;
}

.main .main__title {
  width: 920px;
  font-size: 26px;
  text-align: center;
  font-family: OpenSans-Bold;
  letter-spacing: 0.52px;
  color: #333333;
  margin: 0 auto;
  padding: 39px 0;
}

.main .main-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .main-cards .cards__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  background: #E24C2C 0 0 no-repeat padding-box;
  box-shadow: 0 0 20px #E24C2C87;
  border-radius: 7px;
  color: #ffffff;
  font-size: 13px;
  font-family: "OpenSans-Regular";
  cursor: pointer;
  border: 0;
  outline: 0;
}

.main .main-cards .cards__offer-price {
  font-size: 13px;
  width: 226px;
  text-align: center;
  font-family: OpenSans-Regular;
  letter-spacing: 0;
  color: #585858;
  padding: 15px 0;
}

.main .main-cards .cards__price {
  font-size: 32px;
  text-align: center;
  font-family: "Montserrat-Bold";
  letter-spacing: 0.64px;
  color: #3D8F85;
}

.main .main-cards .cards__title {
  font-size: 18px;
  text-align: center;
  font-family: OpenSans-Bold;
  letter-spacing: 0;
  color: #646464;
  padding: 10px 0;
}

.main .trial {
  width: 350px;
  height: 455px;
  background: #ffffff 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
  transition: ease-in-out 0.1s;
}

.main .trial:hover {
  border: 2px solid #3D8F85;
}

.main .trial .trial-header {
  width: 100%;
  height: 87px;
  background: #3D8F85 0 0 no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .trial .trial-header .trial-header__title {
  letter-spacing: 0.72px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 24px;
}

.main .trial .trial-header .trial-header__time {
  font-size: 21px;
  letter-spacing: 0.42px;
  color: #ffffff;
  opacity: 0.69;
}

.main .trial .trial-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .trial .trial-main .trial__img {
  width: 91px;
  height: 103px;
  background: transparent url(../img/trial.svg) 0 0 no-repeat padding-box;
  padding: 15px;
}

.main .trial .trial-main .trial__offer-week {
  letter-spacing: 0;
  text-align: center;
  color: #646464;
  font-size: 11px;
  font-family: "OpenSans-Regular";
  padding: 7px 0;
}

.main .trial .main__time li {
  font-size: 21px !important;
}

.main .annual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 455px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D4D9E6;
  border-radius: 7px;
}

.main .annual:hover {
  border: 2px solid #3D8F85;
  transition: ease-in-out 0.1s;
}

.main .annual .annual__img {
  width: 89px;
  height: 98px;
  background: transparent url(../img/annual.svg) 0 0 no-repeat padding-box;
  padding: 15px;
  margin-top: 40px;
}

.main .annual .cards__button {
  margin-bottom: -50px;
}

.main .price {
  transition: ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 455px;
  background: #ffffff 0 0 no-repeat padding-box;
  border: 1px solid #B6B6B664;
  border-radius: 7px;
}

.main .price:hover {
  border: 2px solid #3D8F85;
}

.main .price .price-header {
  width: 408px;
  height: 69px;
  background: transparent url(../img/price-logo.svg) 0 0 no-repeat padding-box;
  display: flex;
  justify-content: center;
}

.main .price .price-header .price-header__title {
  margin-top: 15px;
  color: #ffffff;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 16px;
  align-items: center;
}

.main .price .price-header .price-header__img-star {
  margin-top: 19px;
  height: 13px;
  width: 13px;
  background: transparent url(../img/star.svg) 0 0 no-repeat padding-box;
}

.main .price__list-check {
  width: 14px;
  height: 14px;
  background: transparent url(../img/price-check.svg) 0 0 no-repeat padding-box;
}

.main .price__title {
  letter-spacing: 0;
  color: #585858;
  font-size: 18px;
  font-family: OpenSans-Bold;
}

.main li {
  font-size: 16px;
  display: flex;
  letter-spacing: 0;
  color: #333333;
  font-family: OpenSans-Regular;
  align-items: center;
  padding: 7px;
}

.main .reviews {
  margin: 40px 0;
  display: flex;
}

.main .reviews .client-review {
  display: flex;
}

.main .reviews .client-review .client-review__img-women {
  width: 110px;
  height: 110px;
  background: transparent url(../img/icon-women.png) 0 0 no-repeat padding-box;
}

.main .reviews .client-review .client-review__img-men {
  width: 110px;
  height: 110px;
  background: transparent url(../img/icon-men.png) 0 0 no-repeat padding-box;
}

.main .reviews .client-review .client-review__name {
  font-family: OpenSans-Semibold;
  letter-spacing: 0;
  color: #333333;
  font-size: 18px;
}

.main .reviews .client-review .client-review__text {
  width: 432px;
  height: 156px;
  text-align: left;
  font-size: 15px;
  font-family: OpenSans-Regular;
  letter-spacing: 0.3px;
  color: #646464;
}

footer {
  height: 156px;
  background: #2A1818 0 0 no-repeat padding-box;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .footer__logo {
  width: 132px;
  height: 25px;
  background: transparent url(../img/footer-logo.svg) 0 0 no-repeat padding-box;
  position: absolute;
  margin-top: 30px;
}

footer .footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  justify-content: center;
}

footer .footer-top .footer__rules {
  font-family: OpenSans-Regular;
  font-size: 15px;
  display: flex;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 0.8;
}

footer .footer-top .footer__rules div {
  padding: 0 20px;
}

footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

footer .footer-bottom .footer__description {
  font-family: OpenSans-Regular;
  font-size: 13px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 0.4;
}

footer .footer__line {
  width: 100%;
  height: 0;
  border: 1px solid #FFFFFF;
  opacity: 0.06;
}
