@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin check{
  width: 20px;
  height: 20px;
  position: absolute;
  visibility: hidden;
}
